
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
         <img src="../../../assets/images/logo.png"
              alt="Eclair"
              class="responsive-img -circle"
              style="width: 80px; height: 100%"
         > <!-- notice the "circle" class -->

      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="portfolio">Portfolio</a>
        <a class="mdl-navigation__link" routerLink="blog">Blog</a>
        <a class="mdl-navigation__link" routerLink="about">About</a>
        <a class="mdl-navigation__link" routerLink="contact">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="../../../assets/images/logo.png"
           alt="Eclair"
           class="responsive-img -circle"
           style="width: 80px; height: 100%"
      > <!-- notice the "circle" class -->
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="portfolio">Portfolio</a>
      <a class="mdl-navigation__link" routerLink="blog">Blog</a>
      <a class="mdl-navigation__link" routerLink="about">About</a>
      <a class="mdl-navigation__link" routerLink="Contact">Contact</a>
    </nav>
  </div>

