<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.png"
         width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="portfolio">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      &lt;!&ndash; Title &ndash;&gt;
      <span class="mdl-layout-title">
         <img src="../../../assets/images/logo.png"
              alt="Eclair"
              class="responsive-img -circle"
              style="width: 80px; height: 100%"
         > &lt;!&ndash; notice the "circle" class &ndash;&gt;

      </span>
      &lt;!&ndash; Add spacer, to align navigation to the right &ndash;&gt;
      <div class="mdl-layout-spacer"></div>
      &lt;!&ndash; Navigation. We hide it in small screens. &ndash;&gt;
      <nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">
        <a class="mdl-navigation__link" routerLink="portfolio">Portfolio</a>
        <a class="mdl-navigation__link" routerLink="blog">Blog</a>
        <a class="mdl-navigation__link" routerLink="about">About</a>
        <a class="mdl-navigation__link" routerLink="contact">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="../../../assets/images/logo.png"
           alt="Eclair"
           class="responsive-img -circle"
           style="width: 80px; height: 100%"
      > &lt;!&ndash; notice the "circle" class &ndash;&gt;
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="portfolio">Portfolio</a>
      <a class="mdl-navigation__link" routerLink="blog">Blog</a>
      <a class="mdl-navigation__link" routerLink="about">About</a>
      <a class="mdl-navigation__link" routerLink="Contact">Contact</a>
    </nav>
  </div>

-->
