<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      <img src="../../../assets/images/logo.png"
           alt="Eclair"
           class="responsive-img -circle"
           style="width: 80px; height: 100%"
      > <!-- notice the "circle" class -->
    </div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="">Author: Eclair Kayembe Lumu</a></li>
      <li><a href="">Copyright &copy; 2017</a></li>
    </ul>
  </div>
</footer>
